{% extends 'doctorPanel/base-docpanel.html'%}
{% block content %}
      <div class="container-fluid">
         <!-- start page title -->
         <div class="row">
            <div class="col-12">
               <div class="page-title-box">
                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6 col-xl-12">
               <div class="card-box">
                  <div class="media">
                     
                     <div class="media-body align-self-center">
                        <div class="text-center">
                           <h4 class="font-24 my-0 font-weight-bold"><span >Welcome To Doctor Panel</span></h4>
                           
                        </div>
                     </div>
                  </div>
                  
            </div>
     
         </div>
         <!-- end row -->

{% endblock content %}